[submodule "comfy"]
	path = comfy
	url = https://github.com/cg8-5712/ComfyUI
[submodule "comfy-frontend"]
	path = comfy-frontend
	url = https://github.com/cg8-5712/ComfyUI_frontend.git
[submodule "frontend"]
	path = frontend
	url = https://github.com/cg8-5712/Comfy-Cloud-frontend.git
